<ul>
  <li><h3><%= @song.title %></h3></li>
  <li>Has been released: <%= @song.released %></li>
  <li>Release Year: <%= @song.release_year %></li>
  <li>Artist: <%= @song.artist_name %></li>
  <li>Genre: <%= @song.genre %></li>
</ul>